<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" th:href="@{/css/suimobile/sm-extend.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/suimobile/sm.min.css}">
</head>
<body>
<header class="bar bar-nav">
    <h1 class="title">Bind with WeChat</h1>
</header>
<div class="content">
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-form-name"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" id="username" placeholder="User Name">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-form-email"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="password" id="password" placeholder="Password">
                        </div>
                    </div>
                </div>
            </li>
            <li id="verifyPart">
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-form-email"></i>
                    </div>
                    <div class="item-inner">
                        <label for="j_captcha" class="item-title label">Captcha</label> <input
                            id="j_captcha" name="j_captcha" type="text"
                            class="form-control in" placeholder="captcha" />
                        <div class="item-input">
                            <img id="captcha_img" alt="click to refresh" title="click to refresh"
                                 onclick="changeVerifyCode(this)" src="../Kaptcha" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-50">
                <a href="#" onclick="javascript :history.back(-1);"
                   class="button button-big button-fill button-danger">Back</a>
            </div>
            <div class="col-50">
                <a href="#" class="button button-big button-fill" id="submit">Submit</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/suimobile/zepto.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/suimobile/sm.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/suimobile/sm-extend.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/common/common.js}" charset="utf-8"></script>
<script type='text/javascript' th:src="@{/js/local/accountBind.js}"></script>
</body>
</html>