<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SUI Mobile Demo</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="阿里巴巴国际UED前端">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!-- Google Web Fonts -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/suimobile/sm-extend.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/suimobile/sm.min.css}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/img/apple-touch-icon-114x114.png}">
</head>
<body>
<div class="page-group">
    <div id="page-label-input" class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">Shop Information</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Shop Name</div>
                                <div class="item-input">
                                    <input type="text" id="shop-name" placeholder="Shop Name">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- shop category   -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Shop Category</div>
                                <div class="item-input">
                                    <select id="shop-category">

                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- area category   -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Area</div>
                                <div class="item-input">
                                    <select id="area">

                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- address   -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Shop Address</div>
                                <div class="item-input">
                                    <input type="text" id="shop-address" placeholder="Shop Address">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  phone number   -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Phone Number</div>
                                <div class="item-input">
                                    <input type="text" id="shop-phone" placeholder="Shop Phone">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  shop description   -->
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Shop Description</div>
                                <div class="item-input">
                                    <textarea id="shop-desc" placeholder="Shop Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  shop img   -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Shop Image</div>
                                <div class="item-input">
                                    <input type="file" id="shop-img">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  kaptcha   -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Captcha</div>
                                <input type="text" id="j-captcha" placeholder="captcha">
                                <div class="item-input">
                                    <img id="captcha_img" alt="click to refresh" title="click to refresh"
                                    onclick="changeVerifyCode(this)" src="../Kaptcha">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill button-danger">Back</a></div>
                    <div class="col-50">
                        <a href="#" class="button button-big button-fill button-success" id="submit">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/suimobile/zepto.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/suimobile/sm.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/suimobile/sm-extend.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/common/common.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/shop/shopOperation.js}" charset="utf-8"></script>
</body>
</html>